DATABASE_URL=postgresql://username:password@host:5432/dbname?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://username:password@host:5432/dbname?sslmode=require
OPENAI_API_KEY=
DEMO_PASSWORD=changeme
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DEMO_MUTATIONS_ENABLED=true
